<div class="navbar-cl">
    <div class="fila sosten">
        <div class="cont-logo">
            <img src="../../../assets/img/Grupo 1297.svg" alt="" class="logo fl">
            <img src="../../../assets/img/MDI - bell.svg" alt="" class="fr img-rsp">
            <img src="../../../assets/img/Grupo 1294.svg" alt="" class="fr img-rsp">
        </div>
        <div class="buscador fila">
            <input type="text" class="none b-inp" placeholder="Buscar productos en venta.">
            <img src="../../../assets/img/Grupo 1177.svg" alt="" class="b-img">
        </div>
        <div class="ubicacion fila"> 
            <img src="../../../assets/img/Icon material-location-on.svg" alt="" class="u-img-01">
            <section class="u-selecciona">
                <span>Selcciona</span><br>
                <span>Tu ubicación</span>
            </section>
            <img src="../../../assets/img/vuesax-linear-arrow-circle-right-2.svg" alt="" class="u-img-02">
        </div>
        <div class="ubicacion fila">
            <img src="../../../assets/img/MDI - account-circle.svg" alt="" class="u-img-01">
            <section class="u-selecciona">
                <span>Hola, ingresa ahora</span><br>
                <span>Mi cuenta y pedidos</span>
            </section>
            <img src="../../../assets/img/vuesax-linear-arrow-circle-right-2.svg" alt="" class="u-img-02">
        </div>

        <div class="datos fila">
            <span>{{NOTIFICACION}}</span>
            <img src="../../../assets/img/MDI - bell.svg" alt="">
        </div>

        <div class="datos fila">
            <span>{{NOTIFICACION}}</span>
            <img src="../../../assets/img/Grupo 1294.svg" alt="">
        </div>
    </div>
</div>