<div class="seleccion">

    <div class="fila seleccion-item">
        <div class="sel">
            <img src="../../../assets/img/MDI - shape-outline.svg" alt="">
            <label>Todas las categorias</label>
            <img src="../../../assets/img/vuesax-linear-arrow-circle-right.svg" alt="">
        </div>
        <div class="fila lista-items">
            <div class="lista" *ngFor="let x of listas">
                <img src="../../../assets/img/{{x.nombre}}">
                <span>{{x.descripcion}}</span>
            </div>
        </div>
    </div>

</div>