body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.fila {
  display: flex;
  flex-direction: row;
}

.columna {
  display: flex;
  flex-direction: column;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.none {
  outline: none;
  border: none;
}

.w-100 {
  width: 100%;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cp {
  cursor: pointer;
}
.bbx {
  box-sizing: border-box;
}
