<h2>NOVEDADES</h2>
<div class="novedades fila w-100 bbx">
    <div class="item-l fila">
        <div class="div columna bbx">
            <section class="columna">
                <label class="ud">ULTIMOS DIAS</label>
                <label class="des">Calzado adidas con 20% de descuento en running.</label>
            </section>
            <button class="cp btn-l none">Ver más ></button>
        </div>
        <img src="../../../assets/img/Enmascarargrupo89.png" alt="IMAGEN IZQUIERDA" class="img">
    </div>
    <div class="item-r fila">
        <div class="div columna bbx">
            <section class="columna">
                <label class="ud">ULTIMOS DIAS</label>
                <label class="des">Grandes ofertas en articulos para cocina</label>
            </section>
            <button class="cp btn-r none">Ver más ></button>
        </div>
        <img src="../../../assets/img/happy-family-cooking-together-on-home-kitchen-picture-id1216418636.png"
            alt="IMAGEN IZQUIERDA" class="img">
    </div>
</div>